#messageAlert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    left: 0;
    right: 0;
    max-width: 70%;
    margin: 0 auto;
    z-index: 1;
}